body{
    background-color: #f7f9f9;
}
a {
    color: #000;
}
a:hover {
    color: rgb(66, 66, 66);
}
.bg-light {
    background-color: #f7f9f9 !important;
}
.perfil-img{
    height: auto;
    width: auto;
    max-height: 25%;
    max-width: 25%;
    border-radius: 50%;
    border:2px solid #FFF;
}
.jumbotron {
    background-color: #63b6e2;
    border-radius: 0px;
}
.text-muted {
    color: #eff1f2 !important;
}
.blue {
    background-color: #63b6e2 !important;
    color: #eff1f2 !important;
}
.footer-link{
    color: #eff1f2 !important;
}